/* kaushan-script-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/kaushan-script-v14-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-serif-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto Serif';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/roboto-serif-v13-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-serif-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto Serif';
  font-style: normal;
  font-weight: 900;
  src: url('fonts/roboto-serif-v13-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  /* color: #747474; */
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4{
  font-family: 'Kaushan Script', Helvetica Neue, Helvetica, Arial, sans-serif;
  /* font-weight: 200; */
  /* margin-block-start: 0.1em; */
  line-height: 1em;
}

h1{
  font-size: 48px;
  margin-block-start: 0.2em;
}

h2{
  font-size: 32px;
}

h3{
  font-size: 26px;
}
h4{
  font-size: 20px;
}


.container {
  /* border: solid 1px #eee; */
  
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;

  text-align: left;
}

nav {
  /* border-bottom: solid 1px #cccccc; */
  border: solid 1px #000;
  
  margin: 0 auto;
  padding: 20px;

  text-align: left;

 font-family: 'Roboto Serif', serif;
 font-weight: 900;
}

nav a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: #ababab;
}

nav a:hover {
  color: #666;
}

img {
  width: 100%;
}

.languages {
  display: inline-block;
}

.languages span {
  margin-left: 1rem;
}

.languages span:hover,
.languages span[data-active='true'] {
  text-decoration: underline;
  cursor: pointer;
}



ul {
  /* padding: 0; */
  list-style: none;
}

footer {
  margin-top: 60px;
  padding: 20px;
  border-top: 1px solid #000;
  font-size: 0.75rem;
  color: #999;
}

.active {
  color: black;
}

.expander {
  border: solid 1px #cccccc;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  vertical-align: middle;
  margin-bottom: 20px;
  padding: 20px;
}

.expanderHeader {
  cursor: pointer;
  margin: 5px;
}

.expanderIcon {
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  vertical-align: middle;
}

.open .expanderIcon {
  transform: rotate(180deg);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.closed .expanderIcon {
  transform: rotate(0deg);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.hint {
  font-size: 0.7em;
}
